{% extends 'layout.html' %}

{% block content %}
<div class="container">
<h1>{{ name }}</h1>
<p><b>ID:</b> {{ id }}</p>
<p><b>TIME IN:</b> {{ time_in }}</p>
    <form action='/create' method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Driver's Name</label>
            <input value="{{appt.driver_name}}" type="text" class="form-control" id="inputName" name="driver_name" placeholder="Enter Name Here">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhoneNumber">PhoneNumber</label>
            <input value="{{appt.phone_number}}"  type="phone" class="form-control" id="inputPhoneNumber" name="phone_number" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPONumber">PO #</label>
          <input value="{{appt.po_number}}"  type="tel" class="form-control" id="inputPONumber" name="po_number" placeholder="12345" maxlength="5" pattern=".{5}" required title="5 characters">
        </div>
        <div class="form-group">
          <label for="inputTrailerNumber">Trailer #</label>
          <input value="{{appt.trailer_number}}"  type="text" class="form-control" id="inputTrailerNumber" name="trailer_number" placeholder="000000">
        </div>
        <div class="form-group">
          <label for="inputTrailerNumber">Link</label>
          <input value="{{appt.link}}"  type="text" class="form-control" id="inputTrailerNumber" name="link" placeholder="http://">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCarrier">Carrier</label>
            <input value="{{appt.carrier}}"  type="text" class="form-control" name="carrier" id="inputCarrier">
          </div>
          <div class="form-group col-md-4">
            <label for="inputSubmissions">Assignees</label>
            <select id="inputSubmissions" class="form-control" name="assignees">
              <option selected>{{appt.assignee.assignee_name}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputDoorNumber">Door #</label>
            <input value="{{appt.door_number}}"  type="text" class="form-control" name="door_number" id="inputDoorNumber">
          </div>
        </div>

        <p>Status</p>
        <div class="form-group">
        <p>
          <input id = "pending" type = "radio" name = "status"
              value = "pending" checked />
          <label for = "pending">Pending</label>
      </p>
      
      <p>
          <input id = "complete" type = "radio" name = "status"
              value = "complete" checked />
          <label for = "complete">Complete</label>
      </p>

      <p>
        <input id = "staging" type = "radio" name = "status"
            value = "staging" checked />
        <label for = "staging">Staging</label>
    </p>

     <div class="form-group">
          <label for="inputComment">Comment</label>
          <textarea type="text" class="form-control" id="inputComment"   name="comment" placeholder="000000">{{appt.comment}}</textarea>
        </div>
    
    </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>
{% endblock %}