{% extends 'layout.html' %}
{% block content %}
  {% with params=assignees%}
    {% include 'components/_new.html'%}
  {% endwith %}

  {% block body %}
  <div class="content">
    <div class="mt-4 bg-blue-500 text-white w-full p-8 text-4xl">Appointments</div>

    {% if appts|length < 1 %}
      <h4 style="text-align: center">There are no appointments. Create one above!</h4>
    {% else %}
    {% for appt in appts %}
      <div class="card mt-4">
        <div class="card-header">
          {{ appt.po_number}} {{ appt.date_created.date() }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ appt.driver_name}}</h5>
          <p class="card-text">{{ appt.comment }}</p>
          <a href="/appointment/{{appt.id}}" class="btn btn-primary">Show</a>
          <a href="/edit/{{appt.id}}" class="btn btn-primary">Update</a>
          <a href="/delete/{{appt.id}}" class="btn btn-outline-danger">Delete</a>
        </div>
      </div>
    {% endfor %}
    {% endif %}
  </div>
  {% endblock %}
{% endblock %}